# Virtual environments
venv/
env/
alx_venv/
*/alx_venv/
*/venv/
*/env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# OS files
.DS_Store

# Site packages (never commit)
site-packages/
